a:hover {
  text-decoration: none;
}
.user-item {
  border: 1px solid #dee2e6;
  border-radius: 10px;
  margin: 12px;
  padding: 10px;
}
.message-card {
  border: 1px solid #dee2e6;
  border-radius: 10px;
  margin: 12px;
  padding: 10px;
  padding-top: 2px;
  padding-bottom: 0;
}
.message-card b {
}
.tab-content {
  border: 1px solid #dee2e6;
  border-top: 1px solid #dee2e6;
  border-radius: 16px;
  min-height: 200px;
}
.container {
  max-width: 576px;
}
span.close-room:hover {
  color: #8c0000;
}
.nav-item span.close-room {
  opacity: 0;
  visibility: hidden;
  display: none;
  /* margin-left: 5px; */
  padding: 0 5px;
  position: absolute;
}
.nav-item span.fake {
  display: inline-block;
}
.nav-item {
  padding: 8px 25px;
}
.nav-item:hover span.close-room:not(.fake) {
  opacity: 1;
  visibility: visible;
  display: inline-block;
}
.nav-item:hover span.fake {
  display: none;
}
